
#-------------------------------------------------------------------------------
#
# SnpEff configuration file
#
#																Pablo Cingolani
#-------------------------------------------------------------------------------

#---
# Databases are stored here
# E.g.: Information for 'hg19' is stored in data.dir/hg19/
#
# You can use tilde ('~') as first character to refer to your home directory.
# Also, a non-absolute path will be relative to config's file dir
#
#---
data.dir = ./snpEff_database/

#---
# Database repository: A URL to the server where you can download databases (command: 'snpEff download dbName')
#---

# Old SourceForge databases
# database.repository = http://downloads.sourceforge.net/project/snpeff/databases

# Secondary Azure blob storage using SAS-Token (Shared Access Signature)
#database.repository = "https://datasetsnpeff.blob.core.windows.net/dataset"
#database.repositoryKey = "?sv=2019-10-10&st=2020-09-01T00%3A00%3A00Z&se=2050-09-01T00%3A00%3A00Z&si=prod&sr=c&sig=isafOa9tGnYBAvsXFUMDGMTbsG2z%2FShaihzp7JE5dHw%3D"

# Primary Azure blob storage
# database.repository = https://snpeff.blob.core.windows.net/databases/

#---
# Latest version numbers. Check here if there is an update.
#---
#versions.url = https://pcingola.github.io/SnpEff/versions.txt
# versions.url = https://snpeff.blob.core.windows.net/databases/versions.txt

#-------------------------------------------------------------------------------
# Third party databases
#-------------------------------------------------------------------------------

# Databases for human GRCh38 (hg38)

# database.clinvar.GRCh38                 = ./db/GRCh38/clinvar/clinvar-latest.vcf.gz
# database.repository.clinvar             = ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh38/clinvar-latest.vcf.gz

# database.dbsnp.GRCh38                   = ./db/GRCh38/dbSnp/dbSnp.vcf.gz
# database.repository.dbsnp.GRCH38        = ftp://ftp.ncbi.nih.gov/snp/organisms/human_9606/VCF/00-All.vcf.gz

# database.dbnsfp.GRCH38                  = ./db/GRCh38/dbNSFP/dbNSFP.txt.gz

# # Databases for human GRCh37 (hg19)
# database.clinvar.GRCh37                 = ./db/GRCh37/clinvar/clinvar-latest.vcf.gz
# database.repository.clinvar.GRCh37      = ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh37/clinvar-latest.vcf.gz

# database.dbsnp.GRCh37                   = ./db/GRCh37/dbSnp/dbSnp.vcf.gz
# database.repository.dbsnp.GRCh37        = ftp://ftp.ncbi.nih.gov/snp/organisms/human_9606_b141_GRCh37p13/VCF/

# database.gwascatalog.GRCh37             = ./db/GRCh37/gwasCatalog/gwascatalog.txt
# database.repository.gwascatalog.GRCh37  = http://www.genome.gov/admin/gwascatalog.txt

# database.dbnsfp.GRCh37                  = ./db/GRCh37/dbNSFP/dbNSFP.txt.gz

#-------------------------------------------------------------------------------
# Loss of function (LOF)
#-------------------------------------------------------------------------------

# It is assumed that even with a protein coding change at the
# last 5% of the protein, the protein could still be functional.
lof.ignoreProteinCodingAfter  : 0.95

#  It is assumed that even with a protein coding change at the
#  first 5% of the protein:
#  		"..suggesting some disrupted transcripts are
#  		rescued by transcriptional reinitiation at an
#  		alternative start codon."
lof.ignoreProteinCodingBefore : 0.05

# Larger deletions removing either the first exon or more than
# 50% of the protein-coding sequence of the affected transcript
lof.deleteProteinCodingBases : 0.50

#-------------------------------------------------------------------------------
# Codon tables
#
# Format:	It's a comma separated "codon/aminoAcid[+*]" list
# 			Where 'codon' is in uppper case, aminoAcid is a one letter
#			code, '+' denotes start codon and '*' denotes stop codon.
#
# References:	http://www.ncbi.nlm.nih.gov/Taxonomy/Utils/wprintgc.cgi
#				ftp://ftp.ncbi.nih.gov/entrez/misc/data/gc.prt
#-------------------------------------------------------------------------------

codon.Standard								: TTT/F , TTC/F , TTA/L , TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L+, CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Vertebrate_Mitochondrial				: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I+, ATA/M+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/* , AGG/* , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Yeast_Mitochondrial					: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/T , CTC/T , CTA/T , CTG/T , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/M+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Mold_Mitochondrial					: TTT/F , TTC/F , TTA/L+, TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L+, CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Protozoan_Mitochondrial				: TTT/F , TTC/F , TTA/L+, TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L+, CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Coelenterate							: TTT/F , TTC/F , TTA/L+, TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L+, CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Mitochondrial							: TTT/F , TTC/F , TTA/L+, TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L+, CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Mycoplasma							: TTT/F , TTC/F , TTA/L+, TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L+, CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Spiroplasma							: TTT/F , TTC/F , TTA/L+, TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L+, CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Invertebrate_Mitochondrial			: TTT/F , TTC/F , TTA/L , TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I+, ATA/M+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/S , AGG/S , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Ciliate_Nuclear						: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/Q , TAG/Q , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Dasycladacean_Nuclear					: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/Q , TAG/Q , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Hexamita_Nuclear						: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/Q , TAG/Q , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Echinoderm_Mitochondrial				: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/N , AAG/K , AGT/S , AGC/S , AGA/S , AGG/S , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Flatworm_Mitochondrial				: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/N , AAG/K , AGT/S , AGC/S , AGA/S , AGG/S , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Euplotid_Nuclear						: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/C , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Bacterial_and_Plant_Plastid			: TTT/F , TTC/F , TTA/L , TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L+, CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Alternative_Yeast_Nuclear				: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/S+, CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Ascidian_Mitochondrial				: TTT/F , TTC/F , TTA/L , TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/M+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/G , AGG/G , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Alternative_Flatworm_Mitochondrial	: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/Y , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/N , AAG/K , AGT/S , AGC/S , AGA/S , AGG/S , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Blepharisma_Macronuclear				: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/Q , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Chlorophycean_Mitochondrial			: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/L , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Trematode_Mitochondrial				: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/M , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/N , AAG/K , AGT/S , AGC/S , AGA/S , AGG/S , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Scenedesmus_obliquus_Mitochondrial	: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/* , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/L , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Thraustochytrium_Mitochondrial		: TTT/F , TTC/F , TTA/* , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G

#-------------------------------------------------------------------------------
# Databases & Genomes
#
# One entry per genome version.
#
# For genome version 'ZZZ' the entries look like
#	ZZZ.genome              : Real name for ZZZ (e.g. 'Human')
#	ZZZ.reference           : [Optional] Comma separated list of URL to site/s where information for building ZZZ database was extracted.
#	ZZZ.chrName.codonTable  : [Optional] Define codon table used for chromosome 'chrName' (Default: 'codon.Standard')
#
#-------------------------------------------------------------------------------

#---
# Non-standard Databases
#---

# https://www.biostars.org/p/50963/

# Pf reference genome
PlasmoDB-68_Pfalciparum3D7.genome : PlasmoDB-68_Pfalciparum3D7
    PlasmoDB-68_Pfalciparum3D7.Pf3D7_MIT_v3.codonTable : Protozoan_Mitochondrial
# Pf3D7_API_v3

# PvPAM
PlasmoDB-68_PvivaxPAM.genome : PlasmoDB-68_PvivaxPAM
    PlasmoDB-68_PvivaxPAM.CASCJQ010000016.codonTable : Protozoan_Mitochondrial

# Pv P01
PlasmoDB-68_PvivaxP01.genome : PlasmoDB-68_PvivaxP01
    PlasmoDB-68_PvivaxP01.PvP01_MIT_v2 : Protozoan_Mitochondrial
# PvP01_API_v2 | organism=Plasmodium_vivax_P01 | version=2020-09-01 | length=29582 | SO=apicoplast_chromosome

# Pm UG01
PlasmoDB-68_PmalariaeUG01.genome : PlasmoDB-68_PmalariaeUG01
    PlasmoDB-68_PmalariaeUG01.PmUG01_MIT_v1 : Protozoan_Mitochondrial
# PmUG01_API_v1 | organism=Plasmodium_malariae_UG01 | version=2020-09-01 | length=34324 | SO=apicoplast_chromosome

# Po curtisi GH
PlasmoDB-68_PovalecurtisiGH01.genome : PlasmoDB-68_PovalecurtisiGH01
    PlasmoDB-68_PovalecurtisiGH01.PocGH01_MIT_v2 : Protozoan_Mitochondrial
# PocGH01_API_v2 | organism=Plasmodium_ovale_curtisi_GH01 | version=2020-09-01 | length=28304 | SO=apicoplast_chromosome

# Po wallikeri CR01
PlasmoDB-68_PovalewallikeriPowCR01.genome : PlasmoDB-68_PovalewallikeriPowCR01
    PlasmoDB-68_PovalewallikeriPowCR01.LT594520 : Protozoan_Mitochondrial
# LT594519 | organism=Plasmodium_ovale_wallikeri_PowCR01 | version=2018-06-15 | length=31160 | SO=apicoplast_chromosome

# Po Poc221
Poc221.genome : Poc221
    Poc221.Poc221_MIT : Protozoan_Mitochondrial
# Poc221_API

# Po Pow222
Pow222.genome : Pow222
    Pow222.Pow222 : Protozoan_Mitochondrial
# Pow222_API

# Pk PKNH
PlasmoDB-68_PknowlesiH.genome : PlasmoDB-68_PknowlesiH
    PlasmoDB-68_PknowlesiH.PKNH_MIT_v2 : Protozoan_Mitochondrial
# >PKNH_API_v2 | organism=Plasmodium_knowlesi_strain_H | version=2020-09-01 | length=30638 | SO=apicoplast_chromosome

# # Homo sapiens (hg19) (UCSC)
# hg19.genome : Homo_sapiens (UCSC)
# 	hg19.reference : http://hgdownload.cse.ucsc.edu \												# Gene information from 'table' download
# 					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz \		# Genome sequence
# 					, ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/mRNA_Prot/human.protein.faa.gz \	# Protein
# 					, ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/mRNA_Prot/human.rna.fna.gz \		# CDS
# 					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/refLink.txt.gz		# Reflink
# 					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/refMrna.fa.gz			# mRna
# 	hg19.M.codonTable : Vertebrate_Mitochondrial
# 	hg19.MT.codonTable : Vertebrate_Mitochondrial
# 	hg19.coordinates : GRCh37

# # Homo sapiens (hg19) (UCSC) using knownGenes instead of RefSeq
# hg19kg.genome : Homo_sapiens (UCSC KnownGenes)
# 	hg19kg.reference :	http://hgdownload.cse.ucsc.edu \												# Gene information from 'table/GTF' download
# 					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz \		# Genome sequence
# 	hg19kg.M.codonTable : Vertebrate_Mitochondrial
# 	hg19kg.MT.codonTable : Vertebrate_Mitochondrial
# 	hg19kg.coordinates : GRCh37

# # Homo sapiens (hg38) (UCSC)
# hg38.genome : Homo_sapiens (UCSC)
# 	hg38.reference : http://hgdownload.cse.ucsc.edu \												# Gene information from 'table' download
# 					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/chromFa.tar.gz \		# Genome sequence
# 					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/refMrna.fa.gz			# mRna
# 	hg38.M.codonTable : Vertebrate_Mitochondrial
# 	hg38.MT.codonTable : Vertebrate_Mitochondrial
# 	hg38.coordinates : GRCh38

# # Homo sapiens (hg38) (UCSC) using knownGenes instead of RefSeq
# hg38kg.genome : Homo_sapiens (UCSC KnownGenes)
# hg38kg.reference :	http://hgdownload.cse.ucsc.edu \												# Gene information from 'table/GTF' download
# 					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/chromFa.tar.gz \		# Genome sequence
# 					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/refMrna.fa.gz			# mRna
# 	hg38kg.M.codonTable : Vertebrate_Mitochondrial
# 	hg38kg.MT.codonTable : Vertebrate_Mitochondrial
# 	hg38kg.coordinates : GRCh38

# # GRCh37.75 release from ENSEMBL
# GRCh37.75.genome : Human genome GRCh37 using transcripts
# GRCh37.75.reference : http://useast.ensembl.org/info/data/ftp/index.html
# 	GRCh37.75.M.codonTable : Vertebrate_Mitochondrial
# 	GRCh37.75.MT.codonTable : Vertebrate_Mitochondrial

# # GRCh37.87 release from ENSEMBL
# GRCh37.87.genome : Human genome GRCh37 using transcripts
# GRCh37.87.reference : http://useast.ensembl.org/info/data/ftp/index.html
# 	GRCh37.87.M.codonTable : Vertebrate_Mitochondrial
# 	GRCh37.87.MT.codonTable : Vertebrate_Mitochondrial

# # GRCh37 release from NCBI's RefSeq
# GRCh37.p13.genome : Human genome GRCh37 using RefSeq transcripts
# GRCh37.p13.reference : https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.39_GRCh38.p13/
# 	GRCh37.p13.M.codonTable : Vertebrate_Mitochondrial
# 	GRCh37.p13.MT.codonTable : Vertebrate_Mitochondrial

# # GRCh38 release 'p14' from NCBI's RefSeq
# GRCh38.p13.genome : Human genome GRCh38 using RefSeq transcripts
# GRCh38.p13.reference : https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.39_GRCh38.p13/
# 	GRCh38.p13.M.codonTable : Vertebrate_Mitochondrial
# 	GRCh38.p13.MT.codonTable : Vertebrate_Mitochondrial

# # GRCh38 release 'p14' from NCBI's RefSeq
# GRCh38.p14.genome : Human genome GRCh38 using RefSeq transcripts
# GRCh38.p14.reference : https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.39_GRCh38.p14/
# 	GRCh38.p14.M.codonTable : Vertebrate_Mitochondrial
# 	GRCh38.p14.MT.codonTable : Vertebrate_Mitochondrial

# # MANE
# GRCh38.mane.0.95.ensembl.genome: Human genome GRCh38, using MANE transcripts v0.95, Ensembl IDs
# 	GRCh38.GRCh38.mane.0.95.ensembl.M.codonTable : Vertebrate_Mitochondrial
# 	GRCh38.GRCh38.mane.0.95.ensembl.MT.codonTable : Vertebrate_Mitochondrial

# GRCh38.mane.0.95.refseq.genome: Human genome GRCh38, using MANE transcripts v0.95, RefSeq IDs
# 	GRCh38.GRCh38.mane.0.95.refseq.M.codonTable : Vertebrate_Mitochondrial
# 	GRCh38.GRCh38.mane.0.95.refseq.MT.codonTable : Vertebrate_Mitochondrial

# GRCh38.mane.1.0.ensembl.genome: Human genome GRCh38, using MANE transcripts v1.0, Ensembl IDs
# 	GRCh38.GRCh38.mane.1.0.ensembl.M.codonTable : Vertebrate_Mitochondrial
# 	GRCh38.GRCh38.mane.1.0.ensembl.MT.codonTable : Vertebrate_Mitochondrial

# GRCh38.mane.1.0.refseq.genome: Human genome GRCh38, using MANE transcripts v1.0, RefSeq IDs
# 	GRCh38.GRCh38.mane.1.0.refseq.M.codonTable : Vertebrate_Mitochondrial
# 	GRCh38.GRCh38.mane.1.0.refseq.MT.codonTable : Vertebrate_Mitochondrial

# GRCh38.mane.1.2.ensembl.genome: Human genome GRCh38, using MANE transcripts v1.2, Ensembl IDs
# 	GRCh38.GRCh38.mane.1.2.ensembl.M.codonTable : Vertebrate_Mitochondrial
# 	GRCh38.GRCh38.mane.1.2.ensembl.MT.codonTable : Vertebrate_Mitochondrial

# GRCh38.mane.1.2.refseq.genome: Human genome GRCh38, using MANE transcripts v1.2, RefSeq IDs
# 	GRCh38.GRCh38.mane.1.2.refseq.M.codonTable : Vertebrate_Mitochondrial
# 	GRCh38.GRCh38.mane.1.2.refseq.MT.codonTable : Vertebrate_Mitochondrial

# # Mouse
# mm9.genome : Mouse
# mm10.genome : Mouse
# mm39.genome : Mouse
